html {
	margin: 0px;
	padding: 0px;
  height: 100%;
  font-family: 'AileronRegular';
  position:relative;
}
body:focus {
  outline:none;
}
html:focus {
  outline:none;
}
body{
			background: #ffffff;
		  background-image: url("../images/map/map.png"); /* fallback */
		  background-image: url("../images/map/map.png"), linear-gradient(to bottom, #4c46a2, #00e4c1); /* W3C */
		  background-attachment: fixed;
			background-size:cover;
}
.container-fluid {
	text-align: center;
	color: #ffffff;
  margin: 0px;
  padding: 0px;
		overflow-y: scroll;
}

::-webkit-input-placeholder {
  font-family: 'AileronLight';
  font-size: 20px;
  vertical-align: middle;
  // padding-top: 5px;
}
input[type="text"] {
  font-family: 'AileronLight';
  height: 55px;
  font-size: 20px;
  padding-left:25px;
  width: 100%;
  border-radius: 100px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  border: 0px solid;
  color: #777a99;
	background-color: white;

  &:focus{outline: none;};
  &:active{outline: none;};
}
input:focus {
    outline: none;
}
.search-col {
  padding: 0 17px 0 0;
}
.border {
  width: 100%;
	height:65px;
	border-radius: 100px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	border: 5px solid rgba(255,255,255,0.14);
}
.searchIcon {
  background: none;
  border: none;
  position: absolute;;
  right: 30px;
  top: 19px;
}
.title {
	font-family: $main_font;
	font-size: 60px;
	text-align: center;
	color: #ffffff;
  margin-bottom: 75px;
  margin-top: 45px;
}
.popular {
  margin-top: 75px;
}
.popCountries {
  font-family: 'AileronLight';
  font-size: 20px;
  text-align: left;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 50px;

}
.allCountries {
  margin-top: 70px;
  font-family: 'AileronLight';
  font-size: 20px;
  text-align: left;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 50px;
}
.Country {
  text-align: left;
  font-family: 'AileronRegular';
	padding: 20px 0 20px 0px;
  font-size: 18px;
  img{
    margin-right: 15px;
    margin-left: 15px;
    position:relative;
    bottom:2px;
  }
}
a {
  text-decoration: none !important;
  color: #ffffff;
}
a:hover {
  color: #ffffff;
  opacity: 0.5;
}
.link-to-index:hover {
  color: none;
  opacity: 1;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-image: linear-gradient(to bottom,
    rgba(8, 211, 189, 0.01), rgba(8, 211, 189, 0.8));
  z-index: 10;
  vertical-align: bottom;
}
.txt {
  padding-bottom: 2px;
}
